a {
	text-decoration: underline;
}

a,
a:visited {
	color: #111;
}

a:hover,
a:focus,
a:active {
	color: #0073AA;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

.wp-block-file a.wp-block-file__button,
.wp-block-file a.wp-block-file__button:visited,
.wp-block-button__link {
    text-decoration: underline;
}

.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
    text-decoration: none;
}

/*increase contrast*/
.wp-block-latest-comments__comment-date,
.wp-block-video figcaption,
.wp-block-quote cite,
.wp-block-audio figcaption {
	color: #333;
}

/* Matches Post title font options */
.editor-post-title__block .editor-post-title__input {
	font-family: 'Alegreya', 'Alegreya Sans SC', 'Arimo', 'Bree Serif', 'Cherry Swash', 'Cinzel', 'Exo 2', 'Fondamento', 'Gentium Book Basic', 'Grand Hotel', 'Hind', 'Josefin Sans', 'Karla', 'La Belle Aurore', 'Lato', 'Libre Baskerville', 'Lora', 'Lobster Two', 'Merriweather', 'Montserrat', 'Muli', 'Noticia Text', 'Noto Sans', 'Noto Serif', 'Old Standard TT', 'Open Sans', 'Oswald', 'Pacifico', 'Playfair Display', 'Quando', 'Raleway', 'Roboto Slab', 'Sorts Mill Goudy', 'Tangerine', 'Ubuntu', 'Vollkorn', Serif;
}
