body {
	font-family: "Noto Serif",serif;
	font-size: 1.32rem;
	color: #000;
}

a {
	text-decoration: underline;
}

a,
a:visited {
	color: #111;
}

a:hover,
a:focus,
a:active {
	color: #0073AA;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}